.app__navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: fixed;
    z-index: 2;
  }
  .app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
  }
  .app__navbar-links {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
  }
  .app__navbar-links >.app_navbar-item{
    margin: 0 1rem;
    padding: 0 2rem;
    cursor: pointer;
    flex-direction: column;
    list-style: none;
  }